@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");
@import "../node_modules/my-style-css/dist/index.css";
@import "./select.css";

.card__body {
  display: flex;
  flex-direction: column;
}

.card__body .book-fields {
  display: flex;
  align-items: center;
  gap: 1rem;
  width: 90%;
}

.sort-selector {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.add-to-cart {
  align-self: flex-end;
  border-radius: 50%;
}

.cart-item {
  display: flex;
  flex-direction: row !important;
}

.checkout-item {
  align-items: center;
}
